.container {
    display: flex;
    margin: 0 auto 20px auto;
    padding: 0 auto;
    justify-content: center;   
    width: 100%; 
    overflow-x: hidden;
    
    }

    @media screen and (max-width: 850px) {
        .container[isresponsive="true"] {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            
        }
        .container[isresponsive="false"] {
            display: flex;
            margin: 0 auto 20px auto;
        }
    }
      
    @media screen and (width: 600px) {
        .container {
            margin: 0 auto 10px auto;
        }
    }

