.whiteKey {
  width: 52px;
  height: 320px;
  background-color: white;
  border: solid 1px #666;
  z-index: 1;
  /* box-shadow: 0 7px 3px 0 rgba(0, 0, 0, 0.3); */
  color: black;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 600px) {
  .whiteKey {
    width: 52px;
    height: 240px;
  }
}
@media screen and (max-width: 400px) {
  .whiteKey {
    width: 46px;
    height: 240px;
  
}
}
  
.whiteKey:hover {
  background: rgb(250, 209, 151);
  /* border: solid 5px #ccc; */
  /* border-radius: 0 0 10px 10px; */
}

.whiteKey[isdown=true] {
  background: rgb(255, 136, 0);
  /* border: 0; */
}

.whiteKey[isprimarykey="true"][isdown=true] {
  background: yellow;
}

.keyLabel {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
