.container {
  margin: 0 3em 0 0;
  /* padding: 0 2em; */
  /* border: solid 1px; */
  border-radius: 5px;
  background-color: #eee;
  width: 17em;
  
  box-shadow: 1px 1px 10px 1px #bbb;
  
}

.container > p {
  font-size: 18px;
  line-height: 20px;
}

.container > h1 {
  font-size: 25px;
  margin: 0 2em;
  margin-bottom: 10px;
  padding: 0;
  font-weight: normal;
  color: #333;
  /* text-align: center; */
}

.subContainer {
  margin: 0 0 0 2em;
  height: 25em;
  border-bottom: solid 1px #ccc;
  overflow-y: scroll ;
}

.subContainer::-webkit-scrollbar {
  width: 13px;
}

/* .subContainer ::-webkit-scrollbar-track{
  background-color: red;
} */

.subContainer::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 7px;
}
